image{
  
        transform: rotate(45deg); /* Adjust the degree value as per your desired rotation */
      
}
.sec2{
    width: 100%;
    height: 820px;
    background-color: white;

}
.sec3{
    width: 95%;
    height: 80%;
    background-color: white;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 3px 6px 13px -2px rgba(0,0,0,0.63);
    -moz-box-shadow: 3px 6px 13px -2px rgba(0,0,0,0.63);
    box-shadow: 3px 6px 13px -2px rgba(0,0,0,0.63); ;

}
body{
    margin: 0;
    padding: 0;
}
.carousel {
    margin: 0;
    padding: 0;
  }
  
  .carousel-inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .carousel-item {
    width: 100%;
  }
 #myCarousel{
    margin: 0;
    padding: 0;
    width: 100%;
 }
 .title{
    color: blue;
    margin-top: 50px;
    margin-left: 70px;
 }
 .name{
    width: 600px;
    height: 20px;
    margin-top: 60px;
    margin-left: 30px;
 }
label{
    margin: 55px;
}
.nameinput{
    width: 600px;
    height: 20px;
    margin-top: 60px;
    margin-left: 50px;

    
 }
.email{
    padding: 10px 100px;
}
input[type="radio"] {
   margin-top: -50px;
  }
  .area{
    padding: 40px 100px;
  }
  .but{
    padding: 5px 138px;
    background-color: rgb(82, 82, 250);
    color: white;
    border-radius: 10px;
    border-color: white;
  }
  .write{
    height: 65%;
    width: 40%;
  
    float: right;
    margin-top: 0px;
    margin-right: 50px;
  }
  .write p {
    color: black;
  }



  /* Styles for mobile devices */
@media (max-width: 767px) {
    .title h2 {
      font-size: 30px;
      margin-top: 20px;
      margin-left: 20px;
    }
    
  
    .sec2 {
      height: 600px;
      padding-bottom: 10px;
    }
   
 
    .sec3 {
      height: 850px;
      margin: 20px;
    }
  
  
    .name,
    .nameinput {
      width: 90%;
      margin: 10px;
    }
    .secinp{
        margin-top: 50px;
    }
    
   .title{
    margin: 10%;
   }

  
    label {
      margin-top: 5px;
    }
  
    .email,
    
    .area,
    .but {
      padding: 5px;
      width: 100%;
    }
  
    .write {
      width: 80%;
      align-items: center;
      margin-top: 500px;
      margin-right: 40px;
    }
  
    .write p {
      font-size: 14px;
    }
  }
  